body {
    background-color: darksalmon;
}
.q1 {
    border: 1px solid white;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}
input {
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(201, 201, 201);
}
a {
    color: grey;
}
button {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px 30px 5px 30px;
}
.q2 {
    background-color: red;
    color: white;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding-top: 100px;
    margin: auto;
}